# Print

In [1]:
print("Hi, My name is Teuku Mulia Ichsan")

Hi, My name is Teuku Mulia Ichsan

In [2]:
print('Hi, My name is Teuku Mulia Ichsan')

Hi, My name is Teuku Mulia Ichsan

In [3]:
print("""Hi, My name is Teuku Mulia Ichsan""")

Hi, My name is Teuku Mulia Ichsan

In [4]:
print('''Hi, My name is Teuku Mulia Ichsan''')

Hi, My name is Teuku Mulia Ichsan

# Varible

In [5]:
a = 1

In [6]:
a

1

In [7]:
a, b = 2, 3

In [8]:
b

3

In [9]:
a

2

In [10]:
a,b

(2, 3)

# List

In [11]:
a = [1,2,3,"empat", "lima"]

In [12]:
a

[1, 2, 3, 'empat', 'lima']

In [13]:
a[0]

1

In [14]:
a[1]

2

In [15]:
a[-1]

'lima'

In [16]:
a[-2]

'empat'

In [17]:
a.append(7)

In [18]:
a

[1, 2, 3, 'empat', 'lima', 7]

In [19]:
len(a)

6

In [20]:
a = []

In [21]:
a

[]

In [22]:
a.append(1)

In [23]:
a.append("dua")

In [24]:
a

[1, 'dua']

# Slicing

`inclusive`:`exclusive`:`step` same with golang

In [25]:
a = [0,1,2,3,4]

In [26]:
a[0:2]

[0, 1]

In [27]:
a[0:5]

[0, 1, 2, 3, 4]

In [28]:
a[2:-3]

[]

In [29]:
a[2:-2]

[2]

In [30]:
a[2:]

[2, 3, 4]

In [31]:
a[::2]

[0, 2, 4]

# Join & Split

In [32]:
a = ["cat", "dog", "fish"]

In [33]:
" ".join(a)

'cat dog fish'

In [34]:
a = "This is python introduction"

In [35]:
a.split()

['This', 'is', 'python', 'introduction']

In [36]:
a = "Python, Golang"

In [37]:
a.split()

['Python,', 'Golang']

In [38]:
a.split(", ")

['Python', 'Golang']

In [39]:
a

'Python, Golang'

#  Dictionary (Map)

`key` : `value`

In [44]:
a = {
    "cat": "kucing", 
    "dog":"anjing"
}

In [41]:
a

{'cat': 'kucing', 'dog': 'anjing'}

In [42]:
a["kucing"]

KeyError: 'kucing'

In [43]:
a["cat"]

'kucing'

In [45]:
a["bird"] = "burung"

In [46]:
a

{'cat': 'kucing', 'dog': 'anjing', 'bird': 'burung'}

In [47]:
a.keys()

dict_keys(['cat', 'dog', 'bird'])

In [48]:
a.values()

dict_values(['kucing', 'anjing', 'burung'])

In [49]:
nilai = {"ichsan": 100, "udin": 88}

In [50]:
nilai

{'ichsan': 100, 'udin': 88}

In [51]:
nilai("ichsan")

TypeError: 'dict' object is not callable

In [52]:
nilai["ichsan"]

100

In [53]:
nilai["udin"] = 90

In [54]:
nilai

{'ichsan': 100, 'udin': 90}

# Function

In [55]:
def jumlah(a, b):
    return a+b

In [56]:
jumlah(3,4)

7

# Conditionals

In [57]:
score = 50

In [58]:
if score < 60:
    print("Index: C")

Index: C

In [60]:
if 0 <= score < 60:
    print("Index: C")
elif 60 <= score < 80:
    print("Index: B")
elif 80 <= score < 100:
    print("Index: A")
elif score == 100:
    print("Index: S")
else:
    Print("Too High")

Index: C

In [64]:
def convert_to_index(score):
    if 0 <= score < 60:
        return "Index: C"
    elif 60 <= score < 80:
        return "Index: B"
    elif 80 <= score < 100:
        return "Index: A"
    elif score == 100:
        return "Index: S"
    else:
        return "Too High"

In [65]:
convert_to_index(22)

'Index: C'

# Iterasi

In [66]:
numbers = [1,2,3,4,5,6,7,8,9]

In [68]:
for n in numbers:
    print(n)

1
2
3
4
5
6
7
8
9

In [69]:
for score in (80,74,33,100):
    print(convert_to_index(score))

Index: A
Index: B
Index: C
Index: S

In [70]:
for n in numbers:
    print(n**2)

1
4
9
16
25
36
49
64
81

In [71]:
animals = ["Cat", "fish", "dog"]

In [72]:
for animal in animals:
    print(animal)

Cat
fish
dog

In [73]:
for animal in animals:
    print(animal.upper())

CAT
FISH
DOG

In [74]:
for animal in animals:
    print(animal.lower())

cat
fish
dog

In [75]:
for i in range(5):
    print(i)

0
1
2
3
4

In [77]:
for i in range(2,5,2):
    print(i)

2
4

In [78]:
a

{'cat': 'kucing', 'dog': 'anjing', 'bird': 'burung'}

In [81]:
for key in a.keys():
    print("Bahasa indonesia dari ",key, "adalah",[key])

Bahasa indonesia dari  cat adalah ['cat']
Bahasa indonesia dari  dog adalah ['dog']
Bahasa indonesia dari  bird adalah ['bird']

In [82]:
for key in a.keys():
    print(f"Bahasa indonesia dari {key} adalah {a[key]}")

Bahasa indonesia dari cat adalah kucing
Bahasa indonesia dari dog adalah anjing
Bahasa indonesia dari bird adalah burung

In [84]:
a = []
for i in range(5):
    a.append(i**2)

In [85]:
a

[0, 1, 4, 9, 16]

# Python Comprehensions

In [91]:
a = [i**2 for i in range(5)]

In [92]:
a

[0, 1, 4, 9, 16]

In [93]:
b = {i: i**2 for i in range(5)}

In [94]:
b

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [95]:
c = {i**2 for i in range(5)}

`SET`

In [96]:
c

{0, 1, 4, 9, 16}

In [97]:
nilai = [convert_to_index(score) for score in [20,40,80, 30, 10, -5, 105]]

In [98]:
nilai

['Index: C',
 'Index: C',
 'Index: A',
 'Index: C',
 'Index: C',
 'Too High',
 'Too High']

# Summary

## Function
    
    def function_name(input):
        return output

## List

    [___, ___, ___, ___]

Untuk slicing
    
    a[inclusive : exclusive]
    a[inclusive : exclusive : step]
    
## Dictionary

    {
        key1: value1,
        key2: value2,
        key3: value3
    }

## Conditional 

    if <condition>:
        __________
    elif <condition:
        __________
    else:
        __________

## Iteration
    for a in b:
        ___________

## Exercise

In [2]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [6]:
for i in range(1,21):
    if i > 18:
        break
    else:
        print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [5]:
for i in range(1,21):
    print(min(i,18))

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
18
18

## List Pangkat

In [7]:
a = []
for i in range (0,5):
    a.append(i**2)

In [8]:
a

[0, 1, 4, 9, 16]

## List Compeherension

In [11]:
## Untuk setiap i didalam 0 sampai 4 bentuk i kuadrat dalam bentuk list
[i**2 for i in range(0,5)]

[0, 1, 4, 9, 16]

In [12]:
a = [i**2 for i in range(0,5)]

In [13]:
a

[0, 1, 4, 9, 16]